body {
    font-family: 'Merriweather', serif;
    background-color: maroon;
}

h1.logo-name {
    font-size: 1.5rem;
}


#navbarSupportedContent a {
    background-color: bisque;
    text-align: center;
    padding: 0;
}

#header-navbar {
    padding: 0;
}

.logo {
    margin: 1rem 1rem;
}

.menu-button {
    margin: 1rem 1rem;
}

.menu-item {
    border: 1px solid black;
}

.container {
    color: white;
    text-align: center;
    margin-top: 5vw; 
}

.para-box {
    margin-top: 5vw;
    background-color: gray;
    text-align: justify;
    padding: 1vw;
    width: 100%;
    height: 1000px;
}

